<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <h1>New Post</h1>
    <form method="post" action="/posts">
    <label for="user_id">User id :</label>
    <input type="text" id="user_id" name="username" placeholder="enter here">
    <br> <br>
    <label for="img">Select image:</label>
     <input type="file" id="img" name="pic" accept="image/*">
     <br> <br>
     <textarea name="caption" rows="8" cols="30" id=""></textarea>
     <button type="submit">submit</button> <br>
    
</form>
</body>
</html>