<%- include("./includes/head.ejs") %>

<body class="">

  
   <div class="flex flex-col   justify-center space-y-[200px] items-center h-[100vh] w-[100vw] grad text-black">
    <h1 class="text-[100px] relative top-[100px]">Interpolation syntax</h1>
   <h1 class="text-[100px] "><%= 1+ 1 %> </h1>         <!-- iska output hoga in the form of string    -->

   <h1 class="text-[100px] "><%= "hello world".toUpperCase() %> </h1>         <!-- iska output hoga capital letters me   -->
   <h1 class="text-[100px] "><%= ["pranav","shubham","aman"][1] %> </h1>         <!-- iska output hoga array indexing k hisaab se    -->
    <!-- <button class="border new rounded-lg px-5 py-3 bg-white/10 backdrop-blur-sm absolute bottom-[10%] btn">New game</button> -->
   </div>



   <script src="file.js"></script>
</body>
</html>