<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>You are Here To Edit chats of : <%= chat.from %></h1>

    <form method="post" action="/chat/edit/<%=chat.id%>?_method=PATCH">
       <label for="msg"> Message :</label>
       <textarea name="message" id="msg"> <%= chat.message %></textarea> <br>
       <button>Submit changes</button>
    </form>
</body>
</html>