<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Create New chat</h1>

    <form method="post" action="/chat/new">
        <label for="n">From :</label>
        <input type="text" name="from" id="n" placeholder="Name">  <br>
        <label for="t">To :</label>
        <input type="text" name="to" id="t" placeholder="Name"> <br>
        <label for="msg">message :</label>
        <textarea name="message" id="msg" rows="5" cols="20"></textarea>
      
      
<button>Submit</button>

    </form>
</body>
</html>