<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/style.css">
    <title>Document</title>
</head>
<body>
    <h1>New Post</h1>
<div>
   <form method="post" action="/posts">
    <div class="box">
        <h1> </h1>
        <label for="name">Name:</label>
        <input type="text" id="name" name="username" placeholder="enter name">
       </div>
       <div class="box">
        <label for="area">Content :</label>
        <textarea type="text" id="area" name="content" placeholder="enter content" ></textarea>
    
       </div>
        <button >Submit</button>
   </form>
</div>
  </body>
</html>