<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Document</title>
</head>
<body>
    
    <h1>The full details of Post is here</h1>

    <div class="box">
        <h3>post id : <%= post.id %></h3>
        <h3>@ <%= post.username %></h3>
        <h4> <%= post.content %></h4>
    </div>
</body>
</html>